.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header_left {
    display: flex;
    flex:0.5;
    min-width: 70px;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    color: grey;
    padding: 10px;
}

/* to remove input border */
.header_left > input {
    /* to remove border */
    border: none;
    
    width: 100%;

    /* when we click input border is display this problem can be removed by following property */
    outline-width: 0;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_right> h4 {
    margin-left: 10px;
}